In [12]:
#import os
#import geopandas as gpd
#from geopandas import GeoSeries
#import pandas as pd
#from geocube.api.core import make_geocube
#import rasterio
#import numpy as np
#import sys

In [14]:
#calcutes the parcel centroids and the area. 
def calculate_geo(x, path):
    import os
    import geopandas as gpd
    from geopandas import GeoSeries
    import pandas as pd
    def getXY(pt):
        return (pt.x, pt.y)
    polygon = gpd.read_file(path+'\\'+x+"_parcel_v2.geojson")
    points = gpd.read_file(path+'\\'+x+"_points.geojson")
    #reprojecting the polygons
    polygon = polygon.to_crs(4269)
    Parcel_Centroid = GeoSeries(polygon['geometry']).centroid
    x,y = [list(t) for t in zip(*map(getXY, Parcel_Centroid))]
    polygon['Centroid_X'] = x
    polygon['Centroid_Y'] = y
    polygon = polygon.to_crs(5070)
    polygon["PARCEL_AREA"] = polygon['geometry'].area/ 10**6
    #DMP points data had duplicates that were propogating errors throughout the whole join process
    points = points.drop_duplicates(['PRCLDMPID'], keep='first')
    #there left table has to be a gdf and the right df HAS to be a simple df to result in a gdf
    state = polygon.merge(pd.DataFrame(points.drop(columns='geometry')), on='PRCLDMPID', how= 'left')
    return state

In [1]:
#import os
#import geopandas as gpd
#from geopandas import GeoSeries
#import pandas as pd
#def getXY(pt):
    #return (pt.x, pt.y)

In [7]:
#polygon = gpd.read_file(r"D:\Documents\OwnershipMap\New_Script\Test_ENV\OUTPUTS\INTERMEDIATE\DE\DE_parcel.geojson")

In [8]:
#len(polygon['PRCLDMPID'].unique())

423051

In [9]:
#test = pd.read_csv(r'D:\Documents\OwnershipMap\New_Script\Test_ENV\OUTPUTS\INTERMEDIATE\DE\ID_Dictionary.csv')

In [10]:
#test

          OID_   Value  Count            PRCLDMPID
0            0       1   42.0  100660192_161700952
1            1       2   19.0  100660192_161700951
2            2       3   30.0  100660192_161700950
3            3       4   37.0  100660192_161700949
4            4       5   32.0  100660192_161700948
...        ...     ...    ...                  ...
420312  420312  423047    5.0  100660192_157280765
420313  420313  423048   25.0  100660192_157280766
420314  420314  423049    9.0  100660192_157280792
420315  420315  423050    9.0  100660192_157280767
420316  420316  423051   12.0  100660192_157280768

[420317 rows x 4 columns]